body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: 'Ramabhadra', sans-serif;
}
img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 20vw;
    padding: 0 0 20px 0;
}
h2 {
    display: flex;
    margin: 0 auto;
    justify-content: center; 
    color: white;
    font-size: 60px;
    border: 5px solid yellow;
    width: 20vw;
    text-align: center;
    text-shadow: 0 0 5px yellow;
}
.resetButton {
    margin: 10px auto;
    border: 2px solid white;
    padding: 8px;
    background-color:palevioletred;
    color: white;
    display: flex;
    justify-content: center; 
}
.resetButton:hover {
    cursor: pointer;
}
.categories {
    display: grid;
    grid-template-columns: repeat( 4, minmax(100px, 1fr) );
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
    margin: 0 auto;
    width: 80vw;
    height: 4vw;
    color: white;
}
.categories li {
    text-align: center;
    font-size: 45px;
}
#HTML-category {
    grid-column: 1;
    grid-row: 1;
}
#CSS-category {
    grid-column: 2;
    grid-row: 1;
}
#JavaScript-category {
    grid-column: 3;
    grid-row: 1;
}
#Animals-category {
    grid-column: 4;
    grid-row: 1;
}
.pointSquares {
    display: grid;
    grid-template-columns: repeat( 4, minmax(250px, 1fr) );
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
    margin: 20px auto;
    width: 80vw;
}
.pointSquares li {
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    background-color: blue;
    color: white;
    background-image: linear-gradient(#0F08F6, #0D07AB);
}
.pointSquares li:hover {
    color: yellow;
    cursor: pointer;
}
#HTML100 {
    grid-column: 1;
    grid-row: 1;
}
#HTML200 {
    grid-column: 1;
    grid-row: 2;
}
#HTML300 {
    grid-column: 1;
    grid-row: 3;
}
#HTML400 {
    grid-column: 1;
    grid-row: 4;
}
#HTML500 {
    grid-column: 1;
    grid-row: 5;
}
#CSS100 {
    grid-column: 2;
    grid-row: 1;
}
#CSS200 {
    grid-column: 2;
    grid-row: 2;
}
#CSS300 {
    grid-column: 2;
    grid-row: 3;
}
#CSS400 {
    grid-column: 2;
    grid-row: 4;
}
#CSS500 {
    grid-column: 2;
    grid-row: 5;
}
#JavaScript100 {
    grid-column: 3;
    grid-row: 1;
}
#JavaScript200 {
    grid-column: 3;
    grid-row: 2;
}
#JavaScript300 {
    grid-column: 3;
    grid-row: 3;
}
#JavaScript400 {
    grid-column: 3;
    grid-row: 4;
}
#JavaScript500 {
    grid-column: 3;
    grid-row: 5;
}
#Animals100 {
    grid-column: 4;
    grid-row: 1;
}
#Animals200 {
    grid-column: 4;
    grid-row: 2;
}
#Animals300 {
    grid-column: 4;
    grid-row: 3;
}
#Animals400 {
    grid-column: 4;
    grid-row: 4;
}
#Animals500 {
    grid-column: 4;
    grid-row: 5;
}

form {
    display: flex;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
}
.answerToQuestion {
    width: 50vw;
    font-size: 30px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.submitButton {
    border: 2px solid black;
    padding: 8px;
    margin: 10px;
}
.submitButton:hover {
    cursor: pointer;
}