h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
h2 {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end; 
}

.jeopardy_board {
    display: grid;
    grid-template-columns: 4;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    list-style: none;
    margin: 20px 0 30px 0;
    width: 80vw;
    
}
.jeopardy_board li {
    border: 2px solid black;
    text-align: center;
    font-size: 45px;
    background-color: blue;
    color: white;
}
#HTML-category {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    color: black;
}
#CSS-category {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    color: black;
}
#JavaScript-category {
    grid-column: 3;
    grid-row: 1;
    background-color: white;
    color: black;
}
#Animals-category {
    grid-column: 4;
    grid-row: 1;
    background-color: white;
    color: black;
}
#HTML100 {
    grid-column: 1;
    grid-row: 2;
}
#HTML200 {
    grid-column: 1;
    grid-row: 3;
}
#HTML300 {
    grid-column: 1;
    grid-row: 4;
}
#HTML400 {
    grid-column: 1;
    grid-row: 5;
}
#HTML500 {
    grid-column: 1;
    grid-row: 6;
}
#CSS100 {
    grid-column: 2;
    grid-row: 2;
}
#CSS200 {
    grid-column: 2;
    grid-row: 3;
}
#CSS300 {
    grid-column: 2;
    grid-row: 4;
}
#CSS400 {
    grid-column: 2;
    grid-row: 5;
}
#CSS500 {
    grid-column: 2;
    grid-row: 6;
}
#JavaScript100 {
    grid-column: 3;
    grid-row: 2;
}
#JavaScript200 {
    grid-column: 3;
    grid-row: 3;
}
#JavaScript300 {
    grid-column: 3;
    grid-row: 4;
}
#JavaScript400 {
    grid-column: 3;
    grid-row: 5;
}
#JavaScript500 {
    grid-column: 3;
    grid-row: 6;
}
#Animals100 {
    grid-column: 4;
    grid-row: 2;
}
#Animals200 {
    grid-column: 4;
    grid-row: 3;
}
#Animals300 {
    grid-column: 4;
    grid-row: 4;
}
#Animals400 {
    grid-column: 4;
    grid-row: 5;
}
#Animals500 {
    grid-column: 4;
    grid-row: 6;
}

form {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}